<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hasgeek"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.EventDetailActivity"
            android:theme="@android:style/Theme.Holo.Light" />

        <activity
            android:name=".activity.SessionDetailActivity"
            android:theme="@android:style/Theme.Holo.Light" />

        <service android:name=".service.APIService" />

        <service android:name=".service.AlarmListener" />

        <provider
            android:name=".misc.DataProvider"
            android:authorities="com.hasgeek.data"
            android:exported="false" />

    </application>

</manifest>
