<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hasgeek.zalebi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:name=".Talkfunnel"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SpacesActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SingleSpaceActivity"
            android:label="@string/title_activity_single_space"
            android:parentActivityName=".activity.SpacesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hasgeek.zalebi.activity.SpacesActivity" />
        </activity>
        <activity
            android:name=".activity.ProposalActivity"
            android:label="@string/title_activity_proposal"
            android:parentActivityName=".activity.SingleSpaceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hasgeek.zalebi.activity.SingleSpaceActivity" />
        </activity>
    </application>

</manifest>
